<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{cutString posts.top.title "50"}}</h1>

        <p class="lead my-3">{{cutString posts.top.content "120"}}</p>

        <p class="lead mb-0">
            <a href="/posts/{{posts.top.id}}" class="text-white fw-bold fs-6">Continue reading</a>
        </p>
    </div>
</div>

<div class="row mb-2">
    {{#each posts.trending}}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h2 class="h2">{{cutString title "40"}}</h2>

                <div class="mb-1 text-muted" style="font-size: 12px;">{{dateFormat createdAt "MMMM dd, yyyy"}}</div>

                <p class="card-text mb-auto">{{cutString content "90"}}</p>

                <div class="d-flex justify-content-between">
                    <a href="/posts/{{id}}" style="font-size: 12px;">Continue reading</a>

                    <span class="text-muted" style="font-size: 12px;">Comments ({{getArrayLength comments}})</span>
                </div>
            </div>

            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>

                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="row g-5">
    <div class="col-md-8">
        {{#each posts.latest}}
        <article class="pt-2 pb-4 border-bottom">
            <h3 class="h3">{{cutString title "60"}}</h3>

            <p class="text-muted" style="font-size: 12px;">{{dateFormat createdAt "MMMM dd, yyyy"}}
                by <a href="/users/{{author.id}}">{{author.name}}</a>
            </p>

            <p>{{cutString content "200"}}</p>

            <div class="d-flex justify-content-between">
                <a href="/posts/{{id}}" style="font-size: 12px;">Continue reading</a>

                <span class="text-muted" style="font-size: 12px;">Comments ({{getArrayLength comments}})</span>
            </div>
        </article>
        {{/each}}
    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 5rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="mb-3">About</h4>

                <p class="mb-0">At Writespark, we're passionate about demystifying the ever-evolving world of
                    technology. We strive to deliver informative and engaging articles that break down complex concepts
                    into easy-to-understand pieces.</p>
            </div>

            <div class="p-4">
                <h4 class="mb-3">Top 10 authors</h4>

                <div class="row">
                    <div class="col">
                        <span>Name</span>
                    </div>

                    <div class="col-3">
                        <span>Value</span>
                    </div>
                </div>

                <ol class="list-group-numbered mb-0 ps-0">
                    {{#each topUsers}}
                    <li class="row border-bottom mb-2">
                        <div class="col">
                            <a href="/users/{{id}}">{{name}}</a>
                        </div>

                        <div class="col-3 text-end">
                            <span>{{score}}</span>
                        </div>
                    </li>
                    {{/each}}

                </ol>
            </div>
        </div>
    </div>
</div>