<div style="row">
    <div class="col-8 mx-auto">
        <article class="mb-5 pt-5">
            <h2 class="h2 mb-4 text-center">{{post.title}}</h2>

            <div class="mb-4 d-flex justify-content-between align-items-center">
                {{> avatar authorId=post.author.id authorName=post.author.name}}

                <p class="mb-0 text-muted" style="font-size: 14px;">{{dateFormat post.createdAt "MMMM dd, yyyy"}}</p>
            </div>

            <p class="mb-0">{{post.content}}</p>
        </article>


        <div class="row justify-content-md-center align-items-center">
            <div class="col-8">
                <h5 class="mb-3">Comments:</h5>

                {{#if isAuth}}
                <form method="post" class="d-flex flex-column mb-3">
                    <textarea name="body" rows="4" class="mb-2 p-2 rounded" style="resize: none;"></textarea>

                    <button class="btn btn-sm btn-primary fs-6 align-self-end" type="submit">Comment</button>
                </form>
                {{/if}}

                {{#if post.comments}}
                <ul class="list-unstyled mb-0">
                    {{#each post.comments}}
                    <li class="mb-4 pb-2 border-bottom">
                        <div class="mb-2">
                            {{> avatar authorId=author.id authorName=author.name}}

                            <p class="text-muted mb-0 mt-1" style="font-size: 12px;">
                                {{dateFormat createdAt "MMMM dd, yyyy HH:mm"}}
                            </p>
                        </div>

                        <p class="mb-0 fs-6">{{body}}</p>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>